 
h1
{
  color:#ff1493; 
  font-size:120px;
  text-align:center;
  font-family:"Comic Sans MS";
  font-style:italic;
  
  
}

body
{
		text-align:center;	
		background-color: pink;
		
}

img
{
		height:250px;
		width:250px;			
		position:relative;
		float: left;
		display:inline;
		padding: 4px;
}

img
{
	border: 10px solid pink;	
	background-color: #ff1493;
	}